.top-container {
    background-color: rgb(222, 252, 252);
    position: relative;
    padding-top: 300px;
    
    
    }
    
    .middle-container {
    padding-top: 70px;
    
    }
    
    body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    }
    
    h1 {
    margin: 0 auto;
    font-size: 50px
    }
    
    .bottom-cloud {
    position: absolute;
    top: 180px;
    left: 400px;
    
    }
    
    .top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
    
    }
    
    .projects {
    font-family: 'Pinyon Script', cursive;
    font-size: 70px;
    color: #499e9e;
    line-height: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 75px;
    }
    .Linkedin-link{
    font-family: 'Montserrat', sans-serif;
    color: #1c3d66;
    
    
    }
    .Linkedin-link:hover{
    color: #0c9bee;
    
    }
    
    
    h2 {
    font-family: 'Montserrat', sans-serif;
    color: #499e9e;
    font-size: 40px;
    
    }
    
    h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
    }
    
    
    .first-project{
    background-color: #cacc5e;
    padding: 3rem 1rem;
    
    }
    .seccond-project{
    background-color: #72ec9b;
    padding: 7rem 1rem 9rem ;
    
    }
    .tindog {
    height: 40%;
    width: 40%;
    float: left;
    margin-right: 30px;
    
    }
    .comingsoon {
    height: 40%;
    width: 40%;
    float: right;
    margin-left: 30px;
    /* position relative to fix the coming soon */
    position: relative;
    bottom:60px;
    
    }
    
    .top-cloud2 {
    position: absolute;
    top: 40px;
    left: 200px;
    }
    
    .front {
    font-size: 20px;
    }
    
    .footer-link {
    color: #11999E;
    word-spacing: 50px;
    }
    
    .skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
    }
    
    .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 40px;
    }
    
    .btn:hover {
    background: #46e3cb;
    background-image: -webkit-linear-gradient(top, #46e3cb, #1c3d66);
    background-image: -moz-linear-gradient(top, #46e3cb, #1c3d66);
    background-image: -ms-linear-gradient(top, #46e3cb, #1c3d66);
    background-image: -o-linear-gradient(top, #46e3cb, #1c3d66);
    background-image: linear-gradient(to bottom, #46e3cb, #1c3d66);
    text-decoration: none;
    }
    
    .btn-2 {
    background: #dfe7ed;
    background-image: -webkit-linear-gradient(top, #dfe7ed, #1b1d1f);
    background-image: -moz-linear-gradient(top, #dfe7ed, #1b1d1f);
    background-image: -ms-linear-gradient(top, #dfe7ed, #1b1d1f);
    background-image: -o-linear-gradient(top, #dfe7ed, #1b1d1f);
    background-image: linear-gradient(to bottom, #dfe7ed, #1b1d1f);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    }
    
    .btn-2:hover {
    background: #1b1d1f;
    background-image: -webkit-linear-gradient(top, #1b1d1f, #dfe7ed);
    background-image: -moz-linear-gradient(top, #1b1d1f, #dfe7ed);
    background-image: -ms-linear-gradient(top, #1b1d1f, #dfe7ed);
    background-image: -o-linear-gradient(top, #1b1d1f, #dfe7ed);
    background-image: linear-gradient(to bottom, #1b1d1f, #dfe7ed);
    text-decoration: none;
    }
    
    .bottom-container {
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: #66BFBF;
    margin: 0px;
    padding: 50px 0 20px;
    }
    
    .contact-me {
    width: 40%;
    margin: 100px auto 150px;
    }
    
    .profile {
    width: 38%;
    margin: 80px auto;
    padding-bottom: 3rem;
    line-height: 2;
    }
    
    .last {
    margin-top: 40px;
    color: white;
    font-size: 0.75rem;
    }
    
    .contact-message {
    padding: 30px;
    }
    
    .footer-a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
    }
    
    .footer-a:hover {
    color: #EAF6F6;
    }
    /* navegation bar */

.navbar {
    padding: 1rem 0 4.5rem;
    padding-bottom: 1rem;
    margin: 0 15%;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: #11999E;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
    color: #11999E;
}
.container-fluid{
    background-color: rgb(222, 252, 252);
}
.profile-img{
    padding-bottom:2rem;
    width: 200px;
    height: 200px;
}
